@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-image: url("p3.jpeg");
  height:800px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.tourism-card {
  text-align: center;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height:200px;
}
.button {
  color: black;
  background-color: white;
  border-color: rgb(48, 122, 225);
  width: 158px;
  height: 46px;
  border-width: 2px;
  border-radius: 20px;
  transition-duration: 0.4s;
}
.button:hover{
  background-color:rgb(48, 122, 225);
  color:white;
}
.main-heading {
  font-family: "Impact Regular";
  padding-top:25px;
}
.paragraph {
  font-family: "Roboto";
  font-size: 20px;
}
.favourite-places-bg-container {
  background-image: url("p3.jpeg");
  height: 100vh;
  background-size: cover;
  background-position:center;
  padding: 24px;
}
.favourite-places-heading {
  color: white;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
}
.favourite-place-card-container {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  height:190px;
  margin-bottom: 15px;
}
.favourite-place-card-heading {
  color: #d63d3d;
  font-family: "Impact Regular";
  font-size: 25px;
}
.favourite-place-card-description {
  color: #6c6b70;
  font-family: "Roboto";
  font-size: 13px;
}
.favourite-place-card-image {
  width: 100%;
  max-width:200px;
  height: auto;
  object-fit:contain;
  transition-duration: 0.4s;
  float: right;
  padding:20px;
}
.favourite-place-card-image:hover {
 transform: scale(1.1);
}
.favourite-place-card-text-container {
  margin-right: 15px;
}
.detailed-view-bg-container {
  background-image: url("p1.jpg");
  height: 100vh;
  background-size: cover;
}
.detailed-view-heading {
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-size: 28px;
  padding: 24px;
  font-weight: bold;
}
.detailed-view-card-container {
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 24px;
}
.detailed-view-card-heading {
  color: #0f0e46;
  font-family: "Impact Regular";
  font-size: 23px;
}
.detailed-view-card-description {
  color: #6c6b70;
  font-family: "Roboto";
  font-size: 15px;
}
.detailed-view-card-text-container {
  padding: 16px;
  margin-bottom:5px;
}
.ton{
  margin:30px;
}